{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "object-curly-spacing": "off",
    "quotes": "off",
    "semi": "off",
    "comma-dangle": "off",
    "indent": "off",
    "arrow-parens": "off",
    "unicorn/prefer-module": "off",
    "unicorn/no-array-for-each": "off"
  }
}
